.containerStatement {
    display: flex;
    flex-direction: row;
    background-color: #343a40;
}

.content {
    height: calc(100vh - 90px);
    width: calc(100vw - 20%);
    position: absolute;
    top: 90px;
}

.title, .selectByDate {    
  color: #fff;
  font-size: 20px;
}