.buttonSmallComponent {
  width: 180px;
  height: 49px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.buttonCinzaClaro {
  background-color: #a6ad9e;
}

.buttonVerdeLimao {
  background-color: #70e000;
}
